body{
  background-color: #e3fdfd;
}
hr{
  background-color: #e3fdfd;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 7px;
  width: 5%;
}
fieldset{
  width: 30%;
}
h1{
  color: #00b8a9;
}
h3{
  color: #00b8a9;
}
.mernstack{
  background-color: white;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
img:hover{
  background-color: gold;
}
a:hover{
  background-color: orange;
}
